/*====EXPERTS======================================================================================*/
.experts {
  background-color: #FAFBFD;
  padding: 103px 0 116px 0;
}

.experts__statistics {
}

.statistics-experts {
  max-width: 655px;
  margin: 0 auto;
  position: relative;
}

.statistics-experts__body {
  background-color: #fff;
  box-shadow: 0 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  position: relative;
  z-index: 2;
  margin: 0 0 80px 0;
}

.statistics-experts__decor {
  position: absolute;
  background-color: #ec5863;
}

.statistics-experts__decor_1 {
  width: 65px;
  height: 65px;
  bottom: -25px;
  left: -31px;
  border-radius: 16px;
  transform: rotate(-30deg);
}

.statistics-experts__decor_2 {
  width: 96.96px;
  height: 96.96px;
  right: 50%;
  top: -40px;
  border-radius: 30px;
  transform: rotate(30deg)
}

.statistics-experts__decor_3 {
  width: 128px;
  height: 128px;
  right: -55px;
  top: 0;
  border-radius: 30px;
  transform: rotate(-30deg);
}

.body-statistics-experts {
  padding: 25px 80px;
  display: flex;
  align-items: center;
}

.experts__body {
  display: flex;
  align-items: center;
}

.experts__content {
  flex: 0 1 50%;
}

.body-statistics-experts__items {
  flex: 1 1 25%;
  text-align: center;
}

.body-statistics-experts__items:last-child {
  flex: 0 1 50%;
}

.body-statistics-experts__value {
  font-family: $Rubik;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #EC5863;
  margin-bottom: 5px;
}

.body-statistics-experts__text {
  font-family: $Rubik;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.experts__block-text {
  max-width: 400px;
}

@media (max-width: 951.98px){
  .experts__body {
    img {
      width: 450px;
      padding: 0 15px 0 0;
    }
  }
}

@media (max-width: 767.98px) {
  .experts{
    padding: 103px 0 116px 0;
  }
  .experts__body {
    align-items: stretch;
    flex-direction: column;
  }
  .statistics-experts__body{
    margin: 0 0 50px 0;
  }
  .body-statistics-experts{
  padding: 25px;
  }
}

@media (max-width: 586.98px) {
  .experts__body {
    img {
      width: 450px;
    }
  }
}

@media (max-width: 479.98px) {
  .experts__body {
    img {
      width: 350px;
    }
  }
  .body-statistics-experts{
    flex-direction: column;
  }
  .body-statistics-experts__items:not(:last-child){
    margin: 0 0 15px 0;
  }
}

/*====EXPERTS END======================================================================================*/